<% if comment.body.nil? %>
  <div class="comment">
    <div class="comment-head">
        <div class="user-name">
          [DELETED]
        </div>
      <div class="comment-time">
        <%= distance_of_time_in_words(Time.now, comment.created_at, include_seconds: true) %> ago
      </div>
      <div class="comment-reference">
        <div class="">
          <i class="fab fa-bootstrap"></i>
        </div>
        <div class="">
          <i class="fab fa-bootstrap"></i>
        </div>
        <div class="">
          <i class="fab fa-bootstrap"></i>
        </div>
      </div>
    </div>
    <div class="comment-btn" >
      <a id="reply-btn">replay</a>
    </div>
    <div class="dnone" id="reply-form"><%= render 'comments/form', parent_id: comment.id, id: 'new-child-comment', close: 'close-form' %></div>
  </div>
<% else %>
  <div class="comment">
    <div class="comment-head">
      <div class="comment-rate">
        <div class="rate">+35</div>
        <div class="vote-up">▲</div>
        <div class="vote-down">▼</div>
      </div>
      <div class="comment-owner">
        <div class="user-avatar"><i class="far fa-dizzy"></i></div>
        <div class="user-name">
          <%= comment.user.name %>
        </div>
      </div>
      <div class="comment-time">
        <%= distance_of_time_in_words(Time.now, comment.created_at, include_seconds: true) %> ago
      </div>
      <div class="comment-reference">
        <div class="">
          <i class="fab fa-bootstrap"></i>
        </div>
        <div class="">
          <i class="fab fa-bootstrap"></i>
        </div>
        <div class="">
          <i class="fab fa-bootstrap"></i>
        </div>
      </div>
    </div>
    <div class="comment-body">
      <%= comment.body %>
    </div>
    <div class="comment-btn" >
      <a id="reply-btn">replay</a>
      <%= link_to 'delete', [@article, comment], method: :delete, remote: true,
                  data: { confirm: 'Are you sure?' }, class: "#{local_assigns[:del_sign]}" if current_user_can_edit? comment %>
    </div>
    <div class="dnone" id="reply-form"><%= render 'comments/form', parent_id: comment.id, id: 'new-child-comment', close: 'close-form' %></div>
  </div>
<% end %>
