<h2 class="pb-4 text-center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email, class: 'font-weight-bold' %><br />
    <%= f.email_field :email, autocomplete: "email", class: 'form-control px-4 py-4' %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary d-block w-100  px-3 py-3' %>
  </div>

  <div class="mt-2">
    <hr>
  </div>

<% end %>

<%= render "devise/shared/links" %>
