<!DOCTYPE html>
<html>
  <head>
    <title>Gizeh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
    <div class="container">
      <%= link_to 'Gizeh', root_path, class: 'navbar-brand'%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
    </nav>

    <% if flash.any? %>
    <% flash.each do |name, message| %>
      <%= content_tag :div, message, class: "sticky fixed-top text-center alert-success py-1" %>
    <% end %>
  <% end %>

    <div class="container q">
      <div class="row">
        <div class="col-9">

          <%= yield %>

        </div>
        <div class="col-3">
          <div class="card">
            <div class="card-body shadow">
              <% if user_signed_in? %>
                <h4 class="card-title"><%= current_user.name %></h4>
                <h6 class="card-subtitle mb-2 text-muted"><%= current_user.email %></h6>
                <p class="card-text">
                  <%= link_to 'Articles', '#' %>
                </p>
                <%= link_to 'Sign out', sign_out_path , class: 'btn btn-success mt-2 d-block'  %>
              <% else %>
                <h4 class="card-title text-center">Authorization</h4>
                <form class="form-group my-2">
                  <%= link_to 'Sign in', sign_in_path, class: 'btn btn-success d-block' %>
                </form>
                <%= link_to 'Sign up', sign_up_path, class: 'text-center d-block' %>
              <% end %>
            </div>
          </div>
          <%= link_to '+ New Post', new_article_path, class: 'btn btn-success mt-2 d-block shadow' %>
        </div>
      </div>
    </div>
  </body>
</html>
