<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div id="ajax-notice-insert"></div>
    <%= render 'shared/notices' %>

    <section class="container content q">
      <div class="row">
        <div class="col-9">
          <%= yield %>
        </div>
        <div class="col-3">
          <%= render 'shared/rightbar' %>
        </div>
      </div>
    </section>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
